<!-- app/views/shared/_flash.html.erb -->
<% if flash[:alert].present? %>
  <div class="rounded-lg bg-red-50 p-4 dark:bg-red-900/30">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-5 text-red-600 dark:text-red-400">
          <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
          <line x1="12" y1="9" x2="12" y2="13"></line>
          <line x1="12" y1="17" x2="12.01" y2="17"></line>
        </svg>
      </div>
      <div class="ml-3">
        <p class="text-sm text-red-800 dark:text-red-200"><%= flash[:alert] %></p>
      </div>
    </div>
  </div>
<% elsif flash[:notice].present? %>
  <div class="rounded-lg bg-green-50 p-4 dark:bg-green-900/30">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-5 text-green-600 dark:text-green-400">
          <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
          <polyline points="22 4 12 14.01 9 11.01"></polyline>
        </svg>
      </div>
      <div class="ml-3">
        <p class="text-sm text-green-800 dark:text-green-200"><%= flash[:notice] %></p>
      </div>
    </div>
  </div>
<% end %>